extends layout

block content
  div.max-w-xs.bg-gray-900.mx-auto.rounded-xl.shadow-md.overflow-hidden.md_max-w-2xl.m-4
    div.md_flex
      div.md_shrink-0 
        img.md_h-auto.w-full.object-cover.md_w-48.h-48(src='/images/dolce-basil.png')
      div.p-6
        div.uppercase.tracking-wide.text-lg.text-indigo-300.font-semibold #{department.name} 
        p.mt-2.text-gray-500.text-xs #{department.description}