extends layout 

block content 
  div.max-w-xs.bg-gray-900.mx-auto.rounded-xl.shadow-md.overflow-hidden.md_max-w-2xl.m-4
      div.md_flex.flex-col
          h1.uppercase.tracking-wide.text-xl.text-indigo-300.font-semibold.text-center.p-2 #{title}

          form(method='POST' action='')
            div.flex.flex-col.flex-wrap.items-center.justify-center.text-base

              label.mt-4.text-white.px-4.pb-2(for='name') * Department Name:

              input.rounded-md#name(type='text', placeholder="Enter name" name='name' value=(undefined===department ? '' : department.name))

              label.mt-4.text-white.px-4.pb-2(for='description') Description:

              textarea.text-slate-700.text-sm.rounded-md#description(type='text' placheholder='Provide a description' name='description' rows='5' required='true')=(undefined === department ? '' : department.description)
            
            div.m-4.flex.justify-center
              button.p-2.bg-indigo-500.hover_bg-indigo-600.w-auto.text-slate-100.rounded-md.text-lg(type='submit') Submit
          if errors 
            ul 
              for error in errors 
                li.text-red-500.text-center!=error.msg
