extends layout

block content
   
  if error
      p Error getting dynamic content.
  else
      div.max-w-md.mx-auto.bg-gray-900.rounded-xl.shadow-md.overflow-hidden.md_max-w-2xl.mt-4
        div.md_flex
          div.md_shrink-0
            p.w-full 
          div.p-8
            div.uppercase.tracking-wide.text-lg.text-indigo-300.font-semibold.mb-2 Seed Database
            p.block.mt-2.text-slate-400.mb-1.text-lg The database contains the following:

            a(href="/catalog/products").block.mt-2.text-lg.leading-tight.font-medium.text-white.hover_underline Products: !{data.product_count}

            a(href="/catalog/subcategories").block.mt-2.text-lg.leading-tight.font-medium.text-white.hover_underline Sub-Catgories: !{data.subcategory_count}
            a(href="/catalog/categories").block.mt-2.text-lg.leading-tight.font-medium.text-white.hover_underline Catgories: !{data.category_count}
            a(href="/catalog/departments").block.mt-2.text-lg.leading-tight.font-medium.text-white.hover_underline Departments: !{data.department_count}
            
        
        
          
         
