extends layout

block content

  div.max-w-md.mx-auto.bg-gray-900.rounded-xl.shadow-md.overflow-hidden.md_max-w-2xl.mt-4
    div.md_flex
      div.md_shrink-0
        p.w-full 
          div.p-8
              h1.uppercase.tracking-wide.text-lg.text-indigo-300.font-semibold.mb-2=title
              ul
                each product in product_list
                 li
                    div.block.mt-2.text-sm.leading-tight.font-medium.text-white.hover_underline
                      a(href=product.url) #{product.name}
                      |  - #{product.subcategory[0].name}

                else
                  li.block.mt-2.text-slate-400.mb-1.text-lg The database does not contain any products.

  